* {
    text-align: center;
    background-color: #1ED760;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: x-large;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}

b {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}